* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
  
  color-scheme: light dark;
  
  background-image: url("./assets/imgs/bg.png");
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 60.0rem;
  margin: 5.8rem auto 30rem;
  background: #efefef;
  padding: 20px 30px;
  border-radius: 0.8rem;
}

h1 {
  text-align: center;
  margin-bottom: 1.8rem;
}

p:first-child {
  margin-bottom: 0.8rem;
}

button {
  padding: 0.6rem 1.2rem;
  background: #333974;
  color: #fff;
  border-radius: .4rem;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  border: none;
  font-weight: 600;
}

button:hover {
  opacity: 1;
}

.complete {
  background: #5cb85c;
}

.remove {
  background: #b33a62;
}

h2 {
  margin: 1.8rem 0;
}

.todo-form {
  padding-bottom: 1.8rem;
}

input, select {
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ddd;
  border-radius: .4rem;
  width: 100%;
}